@import "./sass/colors";
@import "./sass/mixin";
@import "./sass/fonts";
@import "./sass/header";
@import "./sass/articles";


body {
  * {
  outline: 2px solid #b27bd6 !important;  
}

}

.contacthero {
  width: 100vw;       
  height: 387px;     /*Figma*/ 
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw; 
  margin-right: -50vw;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}

.contact-section {
  width: 100vw;         
  max-width: 1440px;    
  height: 582px;              
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  justify-content:flex-start;
   }

  .contact-header {
  width: 1226px;
  height: 30px;
  margin-top: 60px;     
  margin-left: 107px;  
  display: flex;
  align-items: center;

  h2 {
    font-family: $primary-font;
    font-weight: normal;
    @include size(20, 25);
    color: black;
  }
}

 .contact-info {
  width: 1226px;
  height: 178px;
  margin-left: 107px;  
  display: flex;
  justify-content: space-between; 
  align-items: center;
 }
  
 .info-item {
    font-family: $secondary-font;
    color: black;

    h3 {
      font-family: $primary-font;
      font-size: 16px;
      margin-bottom: 40px;
    }

    p {
      font-size: 14px;
      margin: 0;
      
    }
  }
   .social-icons {
    display: flex;
    gap: 15px;
    

    img {
      width: 24px;
      height: 24px;
      margin-top: 70px;
    }
  }

  .contact-map {
  width: 1226px;
  height: 287px;
  margin-bottom: 2px;   
  margin-left: 107px;

   iframe {
    width: 100%;
    height: 100%;
    border: none;
  }
}
.team-section {
  max-width: 1440px;
  margin: 40px auto;
  padding: 0 40px;

  .team-title {
    font-family: "Playfair Display", serif;
    font-size: 28px;
    margin-bottom: 30px;
    font-weight: 700;
  }

  .team-grid {
    display: grid !important;
    grid-template-columns: repeat(6, 175px);
    justify-content: space-between;
    gap: 35px !important;
  }

  .team-member {
    width: 175px;
    margin: 0 !important;

    img {
      width: 175px !important;
      height: 290px !important;
      object-fit: cover;
      display: block;
    }

    .team-name {
      font-family: "Playfair Display", serif;
      font-size: 20px;
      margin-top: 12px;
      margin-bottom: 4px;
    }

    .team-role {
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
    }
  }
}

.about-section {
  width: 100vw;         
  max-width: 1440px;    
  height: 192px;              
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  justify-content:flex-start;
   }

    .about-info {
  width: 1226px;
  height: 178px;
  margin-left: 107px;  
  display: flex;
  justify-content: space-between; 
  align-items: center;
 }
  
 .ainfo-item {
    font-family: $secondary-font;
    color: black;


    h3 {
      font-family: $primary-font;
      font-size: 16px;
      margin-bottom: 40px;
    }

    p {
      font-size: 14px;
      margin: 0;
    }

  }

  .ainfo-item:last-child p {
  margin-bottom: 80px;
  text-align: right;}