.hero {
  width: 100vw;       
  height: 387px;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw; 
  margin-right: -50vw;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}

.stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  margin: 40px auto;
  padding: 0 40px;
  font-family: "Playfair Display", serif;
  font-size: 25px;
}

.stat-item {
  text-align: left;
}

.stat-value {
  font-weight: 400;
}

.stat-label {
  margin-top: 4px;
  font-weight: 400;
}

.Our-Story {
  max-width: 1440px;
  margin: 80px auto 0 auto;   
  padding: 0 40px;            

  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 1.6;
}

.Our-Story h2 {
  font-family: "Playfair Display", serif;
  font-weight: 700; 
  font-size: 30px;
  margin-bottom: 20px;
}
